#!/usr/bin/env bash

export MEGAUSER="your_username"
export MEGAPASS="your_password"

export COMMON_HOST="$(hostname)"
export COMMON_TZ="$(date +%Z)"
export COMMON_PUID="$(id -u)"
export COMMON_PGID="$(id -g)"
